@font-face {
    font-family: 'Poppins';
    src: url('assets/fonts/Poppins-Bold.ttf') format('truetype');
    font-weight: 700;
    font-style: normal;
}

@font-face {
    font-family: 'Poppins';
    src: url('assets/fonts/Poppins-ExtraLight.ttf') format('truetype');
    font-weight: lighter;
    font-style: normal;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
    font-family: 'Poppins';
    font-weight: 700;
    outline: none;
    text-decoration: none;
}

.highlighted-text{
    color: #6C63FF;
}

.h-container{
    height: 11vw;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem calc(8vw - 2%);
}

@media (max-width: 480px){
    .h-container{
        height: 70vw;
        flex-direction: column;
        align-items: center;
        justify-content: space-around;
    }
}

.h-box-title{
    width: calc(46vw + 2%);
}

@media (max-width: 480px){
    .h-box-title{
        width: calc(80vw + 2%);
    }
}

.h-title{
    font-size: calc(5vw + 10%);
    color: #000000;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

@media (max-width: 480px){
    .h-title{
        text-align: center;
        font-size: calc(10vw + 10%);
    }
}

.h-nav{
    width: calc(46vw - 2%);
    display: flex;
    justify-content: flex-end;
}

.h-container-list{
    width: calc(35vw - 2%);
    display: flex;
    justify-content: space-between;
    align-items: center;
}

@media (max-width: 480px){
    .h-container-list{
        width: calc(50vw - 2%);
        height: 40vw;
        flex-direction: column;
    }
}

.h-list-item{
    font-family: 'Poppins';
    font-weight: lighter;
    color: #000000;
    font-size: 2vw;
}

@media (max-width: 780px){
    .h-list-item{
        font-size: calc(3vw - 10%);
    }
}

@media (max-width: 480px){
    .h-list-item{
        font-size: calc(8vw - 10%);
    }
}

.m-container-top{
    height: 55vw;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

@media (max-width: 480px){
    .m-container-top{
        height: 110vw;
        flex-direction: column-reverse;
    }
}

.m-box-img{
    width: 45vw;
}

@media (max-width: 480px){
    .m-box-img{
        width: 65vw;
    }
}

.m-illustration{
    width: 100%;
}

.m-top-text{
    display: flex;
    justify-content: center;
}

/* colocar essa classe no titulo */
.m-top-text h2{
    font-size: calc(4vw - 10%);
    width: 27vw;
    text-align: center;
}

@media (max-width: 480px){
    .m-top-text h2{
        width: calc(85vw - 10%);
        font-size: calc(10vw - 10%);
    }
}

.m-container-below{
    height: 75vw;
}

@media (max-width: 480px){
    .m-container-below{
        height: 180vw;
    }
}

.m-box{
    height: 55vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}

@media (max-width: 480px){
    .m-box{
        height: 140vw;
    }
}

.m-input-title{
    font-size: 3.5vw;
}

@media (max-width: 480px){
    .m-input-title{
        font-size: calc(10vw);
    }
}

.m-box-form{
    width: 90vw;
    height: 30vw;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

@media (max-width: 480px){
    .m-box-form{
        justify-content: space-around;
        height: calc(80vw - 5% );
        flex-direction: column;
    }
}

.m-form{
    width: 45vw;
    height: 28vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}

@media (max-width: 480px){
    .m-form{
        width: 87vw;
        height: 68vw;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-around;
    }
}

.m-input{
    width: 40vw;
    height: 6vw;
    border: 3px solid #6C63FF;
    border-radius: 1rem;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    padding: 1rem;
    font-size: 2vw;
}

@media (max-width: 780px){
    .m-input{
        border: 2px solid #6C63FF;
        border-radius: 0.8rem;
    }
}

@media (max-width: 480px){
    .m-input{
        width: 86vw;
        height: 18vw;
        border: 3px solid #6C63FF;
        font-size: calc(6vw - 10%);
    }
}

.m-input::placeholder{
    color: #000000;
}

.m-box-text{
    width: 40vw;
    border: solid 2px black;
    height: 26vw;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: calc(0.5rem + 1%);
}

@media (max-width: 480px){
    .m-box-text{
       display: none;
    }
}

/* função clamp não tá rodando, verificar isso*/
.m-text{
    font-size: calc(2.1vw - 10%);
}

@media (max-width: 480px){
    .m-text{
        display: none;
    }
}

.m-btn-input{
    background-color: #000000;
    width: 40vw;
    height: 6vw;
    color: #6C63FF;
    font-size: 3.5vw;
    border-radius: 10px;
    cursor: pointer;
}

@media (max-width: 480px){
    .m-btn-input{
    width: 70vw;
    height: 18vw;
    font-size: calc(10vw - 5%);
    }
}

.f-container{
    height: 30vw;
    background-color: #6C63FF;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

@media (max-width: 480px){
    .f-container{
    height: 80vw;
    flex-direction: column-reverse;
    }
}

.f-list{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}

@media (max-width: 480px){
    .f-list{
        text-align: center;
    }
}

.f-list-item{
    width: 40vw;
    height: 4.5vw;
    font-size: 2vw;
    color: #000000;
}

@media (max-width: 480px){
    .f-list-item{
        width: 80vw;
        height: 12vw;
        font-size: 7vw;
    }
}

.f-title{
    font-size: 5vw;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

@media (max-width: 480px){
    .f-title{
        text-align: center;
        font-size: 13vw;
    }
}